.icon-XIHzWm6B {
  align-items: center;
  display: flex;
  flex-direction: row;
  transition: transform 0.35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.icon-XIHzWm6B svg {
  fill: currentColor;
  display: block;
  height: 4px;
  width: 8px;
}
.icon-XIHzWm6B.dropped-XIHzWm6B {
  transform: rotate(180deg);
}
